<html lang="fr">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>Mes films</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <a href=""></a>
        <img src="" alt="" >
      
      </nav>
      <img src="" alt="baniere">
      <img src="" alt="image menu de nav">
      <img src="" alt="logo">
      <img src="" alt="bouton aide ">
    </header>
  </body>

  
  </html>