**/__pycache__/
.mypy_cache/
.coverage
venv/
.idea/
.flaskenv
.vscode/
test.pdf
/appli/sae_flask/static/img/agrandir.png
/appli/sae_flask/static/img/Aide.png
/appli/sae_flask/static/img/arrow-l.png
/appli/sae_flask/static/img/arrow-r.png
/appli/sae_flask/static/img/asize.jpg
/appli/sae_flask/static/img/atest.png
/appli/sae_flask/static/img/back.jpg
/appli/sae_flask/static/img/background-image.jpg
/appli/sae_flask/static/img/background_droite.png
/appli/sae_flask/static/img/background_left.png
/appli/sae_flask/static/img/baniere.jpg
/appli/sae_flask/static/img/Belgique.png
/appli/sae_flask/static/img/btn-add.png
/appli/sae_flask/static/img/btn-minus.png
/appli/sae_flask/static/img/club.png
/appli/sae_flask/static/img/compet.png
/appli/sae_flask/static/img/dow.png
/appli/sae_flask/static/img/escrimeur.png
/appli/sae_flask/static/img/Espagne.png
/appli/sae_flask/static/img/Facebook.png
/appli/sae_flask/static/img/fermer.png
/appli/sae_flask/static/img/France.png
/appli/sae_flask/static/img/imprimante.png
/appli/sae_flask/static/img/Insta.png
/appli/sae_flask/static/img/lieu.png
/appli/sae_flask/static/img/logo.png
/appli/sae_flask/static/img/logout.png
/appli/sae_flask/static/img/mail.png
/appli/sae_flask/static/img/medaille-1.png
/appli/sae_flask/static/img/medaille-2.png
/appli/sae_flask/static/img/medaille-3.png
/appli/sae_flask/static/img/Menu.png
/appli/sae_flask/static/img/pdf.png
/appli/sae_flask/static/img/Pen.png
/appli/sae_flask/static/img/planete.png
/appli/sae_flask/static/img/stylo.png
/appli/sae_flask/static/img/tableau_poule.png
/appli/sae_flask/static/img/Trash.png
/appli/sae_flask/static/img/Twitter.png
/appli/sae_flask/static/img/userAccunt.png
/appli/sae_flask/static/img/Youtube.png
