{% extends "Admin/base_admin.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form role="form" method ="POST" action="{{ url_for('update_competition', id_competition=competition.get_id(), type=1)}}">
    
    {{ form.hidden_tag() }}
    <div style="display:flex; flex-wrap: wrap;">
        <div style="flex-basis: 100%;">
            {{ form.name.label }} {{ form.name(size =50) }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.date.label }} {{ form.date(size =50) }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.date_fin_inscripiton.label }} {{ form.date_fin_inscripiton(size =50) }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.categorie.label }} {{ form.categorie }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.arme.label }} {{ form.arme }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.saison.label }} {{ form.saison }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.coefficient.label }} {{ form.coefficient(size =50) }}
        </div>
        <div style="flex-basis: 100%;">
            {{ form.lieu.label }} {{ form.lieu }}
        </div>
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
        {% for e in form.name.errors %}
        <li>{{ e }}</li >
        {% endfor %}
    </ul>
    {% endif %}
    
    <a href="{{url_for('admin_competition')}}" style="text-decoration: none;">
        <input type="button" value="Annuler">
    </a>

    <input type="submit" value="Enregistrer">
</form >
{% endblock %}