<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/button_menu.css')}}">
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>

    <header>
        {% block header %}
        <div class="b-menu">
            <input id="toggleChecker" type="checkbox">
            <label id="togglerLable" for="toggleChecker" onclick="myFunction()">
            <div class="checkboxtoggler">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            </label>
            <nav id="myDropdown" class="dropdown-content">
                <ul>
                    <li><a href="{{ url_for('home') }}">Accueil</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="https://blois-escrime.fr/renseignements">À propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

        </div>
       
        <img class= "logo" src="{{ url_for('static', filename='../static/img/logo.png') }}" alt="logo">
        <a href="#">
            <img class= "user" src="{{ url_for('static', filename='../static/img/User.png') }}" alt="user">
        </a>
        
        <nav class="navigateur">
            {% block nav %}
             <a class="authentif" href="{{ url_for('choose_sign')}}"> AUTHENTIFICATION </a>
             <a class="compet" href="{{ url_for('home') }}"> COMPÉTITIONS </a>
             <a class="regles" href="{{ url_for('regles') }}"> RÈGLES </a>
             <a class="regles" href="{{ url_for('page_poule') }}"> Tempo Poule </a>
            {% endblock %}
        </nav>
    
        {% endblock %}
    </header>
    <main>
        <div class="rec-central">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </main>
    <footer>
        {% block footer %}
        <p>CONTACTS : </p>
        <a href="#">
            <img class="insta" src="{{ url_for('static', filename='../static/img/Insta.png') }}" alt=" image insta ">
        </a>
            
        <a href="#">
            <img class="twitter" src="{{ url_for('static', filename='../static/img/Twitter.png') }}" alt="image logo twitter">
        </a>
        
        <a href="#"> 
            <img class="youtube" src="{{ url_for('static', filename='../static/img/Youtube.png') }}" alt="image logo youtube">
        </a>
        <a href="#"> 
            <img class="facebook" src="{{ url_for('static', filename='../static/img/Facebook.png') }}" alt="image logo youtube">
        </a>
        <p class="paragfin"> @ Cette page à été réalisé par El Kasmi Hajar, Barache Yannis, Fofana Abdoulahi, Mérit Juilann, Chédeville Baptiste </p>

        {% endblock %}

    </footer>

</body>
</html>