<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscriUT'O</title>

    {% block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_menu_choix.css') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_page_connection.css')}}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_authentification.css')}}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page_connexion.css')}}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_menu.css') }}">
    <!-- Link du fichier js-->
    <script src="{{ url_for('static', filename='js/button_menu.js') }}"></script>
    {% endblock %}
</head>
<body>
    <header>
        <div class="b-menu2">
            <input id="toggleChecker" type="checkbox">
            <label id="togglerLable" for="toggleChecker" onclick="myFunction()">
            <div class="checkboxtoggler">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            </label>
            <nav id="myDropdown" class="dropdown-content2">
                <ul class="menu-deroule">
                    <li><a href="{{ url_for('home') }}">Accueil</a></li>
                    {% if user==None %}
                    <li><a href="{{ url_for('choose_sign')}}">Authentification</a></li>
                    {% else %}
                    <li><a href="{{ url_for('espace_personnel') }}">Espace personnel</a></li>
                    {% endif %}
                    {% if user|is_arbitre %}
                    <li><a href="{{ url_for('arbitrage') }}">Arbitrage</a></li>
                    {% endif %}
                    {% if user|is_organisateur %}
                    <li><a href="{{ url_for('home_admin') }}">Administrateur</a></li>
                    {% endif %}

                    <li><a href="https://blois-escrime.fr/renseignements">À propos</a></li>
                </ul>
            </nav>
        </div>
        <img id="logo-header" src="{{ url_for('static', filename='/img/logo.png') }}" alt="logo">
        <img class="aide" src="{{ url_for('static', filename='/img/Aide.png') }}" alt="aide">
    </header>
    <main>
        <div class="rec-central">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </main>

</body>
</html>