<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>

    <header>
        <a href="{{ url_for('home') }}"> &#10006;</a>
        <img id="logo-header" src="{{ url_for('static', filename='/img/logo.png') }}" alt="logo">
        <img class="aide" src="{{ url_for('static', filename='/img/Aide.png') }}" alt="aide">
    </header>
    <main>
        <div class="rec-central">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </main>

</body>
</html>