{% extends "base_home.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compet.css')}}"> 
{% endblock %}

{% block content %}


    <div class="big-div">

        <div class="grey-bg center">
            <p>{{ compet.get_nom() }} du {{ compet.get_date() }}</p>
        </div>

        <div>
            <p class="description">DESCRIPTION DE LA COMPÉTITION :</p>
        </div>

        <div class="center infos">
            <div class="titre-info">

                <p>TYPE D'ARME</p>
                <p>SAISON</p>
                <p>CATÉGORIE</p>
                <p>FIN D'INSCRIPTION</p>
                <p>COEFFICIENT</p>
                <p>LIEU</p>
                <p>ETAT</p>

            </div>

            <div class="reponse-info">

                <p>:    {{ compet.get_arme().get_nom() }}</p>
                <p>:    {{ compet.get_saison() }}</p>
                <p>:    {{ compet.get_categorie().get_nom() }} - {{ compet.get_arme().get_sexe() }}</p>
                <p>:    {{ compet.get_date_fin_inscription() }}</p>
                <p>:    {{ compet.get_coefficient() }}</p>
                <p>:    {{ compet.get_lieu().get_adresse() }}</p>
                <p>:    {{ compet.get_etat() }}</p>
            </div>
        </div>

        <div class="div-btn center">
            {% if poule > 0 %}
                <form role="form" method="post" action="{{ url_for('poule', id_competition=compet.get_id(), nb = 0) }}" >
                    <button type="submit" class="btn-active">voir les poules</button>
                </form>
            {% endif %}

            {% if phase_finale %}
                <form role="form" method="post" action="{{ url_for('phase_finale', id_competition=compet.get_id()) }}">
                    <button type="submit" class="btn-active">voir la phase finale</button>
                </form>
            {% else %}
                <button class="btn-disable">voir la phase finale ?</button>
            {% endif %}
        </div>
    </div>


{% endblock %}

