{% extends "base_home.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compet.css')}}"> 
{% endblock %}

{% block content %}


    <div class="big-div">

        <div class="grey-bg center">
            <p>{{ compet.get_nom() }} du {{ compet.get_date() }}</p>
        </div>

        <div>
            <p class="description">DESCRIPTION DE LA COMPETÉTITION :</p>
        </div>

        <div class="center infos">
            <div class="titre-info">

                <p>TYPE D'ARME</p>
                <p>SAISON</p>
                <p>CATÉGORIE</p>
                <p>FIN D'INSCRIPTION</p>
                <p>COEFFICIENT</p>
                <p>LIEU</p>

            </div>

            <div class="reponse-info">

                <p>:    {{ compet.get_arme().get_nom() }}</p>
                <p>:    {{ compet.get_saison() }}</p>
                <p>:    {{ compet.get_categorie().get_nom() }} - {{ compet.get_arme().get_sexe() }}</p>
                <p>:    {{ compet.get_date_fin_inscription() }}</p>
                <p>:    {{ compet.get_coefficient() }}</p>
                <p>:    {{ compet.get_lieu().get_adresse() }}</p>
            </div>
        </div>

        <div class="div-btn center">
            <a href="{{ url_for('competition_match',id_competition=compet.get_id())  }}"> 
                <button  >voir les poules</button>
            </a>

            <button>voir la phase finale</button>
        </div>

    </div>


{% endblock %}

