<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/espace.css')}}">
    <title>Espace Escrimeur</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <a href="#">
            <img class= "menu" src="{{ url_for('static', filename='../static/img/Menu.png') }}" alt="menu">
        </a>

        <img class= "logo" src="{{ url_for('static', filename='../static/img/userAccunt.png') }}" alt="logo">
        <a href="{{ url_for('home') }}">
            <img class= "user" src="{{ url_for('static', filename='../static/img/logo.png') }}" alt="user">
        </a>

        <nav class="navigateur">
            {% block nav %}
             <a class="information" href="#"> MES INFORMATION </a>
             <a class="my-comp" href="#"> MES COMPÉTITION </a>
             <a class="gest-comp" href="#"> GESTION COMPÉTITION </a>
            {% endblock %}
        </nav>

        {% endblock %}
    </header>
    <main>
        {% block main %}
        <table>
            <tr>
                <td class="left">N° de licence</td>
                <td>:</td>
                <td class="right">{{ nom.get_licence() }}</td>
            </tr>

            <tr>
                <td class="left">Nom</td>
                <td>:</td>
                <td class="right">{{ nom.get_nom() }}</td>
            </tr>

            <tr>
                <td class="left">Prénom</td>
                <td>:</td>
                <td class="right">{{ nom.get_prenom() }}</td>
            </tr>

            <tr>
                <td class="left">Sexe</td>
                <td>:</td>
                <td class="right">{{ nom.get_sexe() }}</td>
            </tr>

            <tr>
                <td class="left">Date de naissance</td>
                <td>:</td>
                <td class="right">{{ nom.get_date_naissance() }}</td>
                <td rowspan="4" class="image-td"><img class="image-back" src="{{ url_for('static', filename='../static/img/background_droite.png') }}" alt="image d'un escrimeur en noir"></td>
            </tr>

            <tr>
                <td class="left">Catégorie</td>
                <td>:</td>
                <td class="right">{{ nom.get_categorie().get_nom() }}</td>
            </tr>

            <tr>
                <td class="left">Classement</td>
                <td>:</td>
                <td class="right">{{ nom.get_classement() }}</td>
            </tr>

            <tr>
                <td class="left">Club</td>
                <td>:</td>
                <td class="right">{{ nom.get_club().get_nom() }}</td>
            </tr>
        </table>
        {% endblock %}
    </main>

</body>
</html>