{% extends "base_accueil.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}"> 
{% endblock %}

{% block header %}
<nav>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>

</nav>

<img class= "menu" src="{{ url_for('static', filename='../static/img/Menu.png') }}" alt="menu">
<img class="User" src="{{ url_for('static', filename='../static/img/User.png') }}" alt="user">
<img class="baniere" src="{{ url_for('static', filename='../static/img/baniere.jpg') }}" alt="baniere">
    
{% endblock %}


{% block content %}
<div>
    <h1> BIENVENUE À VOUS </h1>
    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
        ""Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." </p>

</div>

<div>
    <table>
  
   
  
        <tr>
      
          <th>NOM COMPÉTITION </th>
          <th>LIEUX</th> 
          <th>DATE</th> 
          <th>STATUT</th> 
          <th>ACTION</th>
          
      </tr>
        
        <tr> <td>Chaton</td> <td>2 mois</td> <td>40 €</td> </tr>
        
        <tr> <td>Elan</td> <td>6 mois</td> <td>110 €</td> </tr>
        
        <tr> <td>Licorne</td> <td>12 mois</td> <td>200 €</td> </tr>
        
        </table>
        
</div>


{% endblock %}