{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}"> 
{% endblock %}

{% block header %}

<img class= "menu" src="{{ url_for('static', filename='../static/img/Menu.png') }}" alt="">
<img class="aide" src="{{ url_for('static', filename='../static/img/Aide.png') }}" alt="user">
<img class="aide" src="{{ url_for('static', filename='../static/img/baniere.jpg') }}" alt="baniere">
    
{% endblock %}