{% extends "base_authentification.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base_authentification.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/header_page_connection.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/pp.css')}}"> 
{% endblock %}


{% block content %}


<span class="block-logo"> <img id="logo" src="{{ url_for('static', filename='img/userAccunt.png') }}" alt="logo"></span>
            
<div class="infoconnecte">
    <span class="titre"> {{ nom }} </span>
</div>
<form class="form-horizontal" role="form" method="POST"
        action="{{ url_for('connexion', nom=nom) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="id" class="contexte"
            >{{ form.identifiant.label }}</label>
        <div class="col-sm-10">
            {{ form.identifiant(class_="form-control",
                             placeholder="Identifiant") }}
        </div>
    </div>
    <div class="form-group">
    <label for="mdp" class="contexte"
        >{{ form.mdp.label }}</label>
    <div class="col-sm-10">
        {{ form.mdp(class_="form-control",
                         placeholder="Password") }}
    </div>
    </div>
<div class="form-group">
    <div class="col-sm-offset -2 col-sm-10">
        <button type="submit" class="connecte">Se connecter</button>
    </div>
</div>
</form>
{% endblock %}