
{% extends "base_home.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/poule.css')}}"> 
{% endblock %}

{% block content %}

<div class="titre">
    <h2> COMPÉTITION DE BLOIS DU 04/05/2024</h2>
</div>

<div class="box">
    <section class="poules">
        <h3> LES POULES : </h3>
        <p> Arbitre : </p>

        <ul class="listmatchs">
            <h4> Ordre des matchs </h4>
            <li> matchs 1 : 9h55</li>
            <li> matchs 2 : 10h05</li>
            <li> matchs 3 : 10h15</li>
            <li> matchs 4 : 10h25</li>
            <li> matchs 5 : 10h35</li>
            <li> matchs 6 : 10h45</li>
        </ul>

        <button> Résultat <a href=""></a></button>
    </section>
    <div class="imprime">
        <img class= "pdf" src="{{ url_for('static', filename='../static/img/pdf.png') }}" alt="menu">
        <div class="print">
            <img class= "imprimante" src="{{ url_for('static', filename='../static/img/imprimante.png') }}" alt="menu">
            <a href="#"> Imprimer le pdf</a> 
        </div>
    </div>
    
</div>

{% endblock %}

