
{% extends "base_home.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/phase_finale.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/btn_agrandir.css')}}">
<script src="{{ url_for('static', filename='js/script_agrandir.js') }}"></script>
{% endblock %}

{% block content %}

<div class="big-div">

    <div class="grey-bg center">
        <p>{{ compet.get_nom() }} du {{ compet.get_date() }}</p>
    </div>

    <div>
        <p class="description">PHASE FINALE</p>
    </div>

    <div class="middle">

    </div>
    <div class="div-dow">
        <a id="btn-agrandir" class="dow-a"><img class="img_agrandir dow" src="{{ url_for('static', filename='img/agrandir.png') }}" alt="">Plein écran</a>
        <a class="dow-a" href="#"><img class="dow" src="{{ url_for('static', filename='../static/img/dow.png') }}" alt="menu">Télécharger le PDF</a> 
    </div>
</div>

{% endblock %}

