{% extends "base_authentification.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header_page_connection.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/base_authentification.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/authentification.css')}}"> 
{% endblock %}


{% block content %}

<span class="block-logo"> <img id="user" src="{{ url_for('static', filename='img/user.png') }}" alt="logo"></span>
            
<div class="infoconnecte">
<span class="titre"> {{ nom }} </span>

    <span class="petit-titre">Connecte toi ou crée un compte :</span>
</div>




{% endblock %}