{% extends "base_home.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <p>{{ phase_final }}</p>
    {% for matchs in phase_final.get_les_matchs() %}
        {% for match in matchs %}
            <div class="match">
            <div class="equipe">
                <p>{{ match.get_escrimeur1().get_nom() }} VS {{ match.get_escrimeur2().get_nom() }}</p>
            </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}