{% extends "Admin/base_admin.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">
{% endblock %}
<header>
    {% block header %}
    {{ super() }}
    {% endblock %}
</header>


{% block content %}

<div class="ligne1">

    <button id="auteurs" class="btn-groupe">
        <a href="{{ url_for('admin_competition') }}">
            <p>Compétitions</p>
            <img class="img" src="{{ url_for('static', filename='img/compet.png')}}" alt="auteur">
        </a>
    </button>
    

    <button class="btn-groupe">
        <a href="{{ url_for('admin_escrimeur') }}">
            <p>Escrimeurs</p>
            <img class="img" src="{{ url_for('static', filename='img/escrimeur.png')}}" alt="livre">
        </a>
    </button>

    <button class="btn-groupe">
        <a href="{{ url_for('admin_club') }}">
            <p>Clubs</p>
            <img class="img" src="{{ url_for('static', filename='img/club.png')}}" alt="user">
        </a>
    </button>


    <button class="btn-groupe">
        <a href="{{ url_for('admin_lieu') }}">
            <p>Lieux</p>
            <img class="img" src="{{ url_for('static', filename='img/lieu.png')}}" alt="eval">
        </a>
    </button>

    <button class="btn-groupe">
        <a href="{{ url_for('admin_equipe') }}">
            <p>Les équipes</p>
            <img class="img" src="{{ url_for('static', filename='img/team.png') }}" alt="equipe">
        </a>
    </button>

</div>





{% endblock %}
