.checkboxtoggler {
    /* width: max-content; */
    display: flex;
    flex-direction: column;
    width: 3rem;
    gap: 10px;
    cursor: pointer;
    /* width: auto; */
    /* height: 148%; */
    /* height: 34px;*/
    height: 34px;
   }

   .line{
    background: black;
    position: relative;
    height: 13%;
    border-radius: 10em;
    transition-duration: 500ms;
   }

   
   #toggleChecker {
    height: 3em;
    width: 100%;
    display: none;
   }
   
   #toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
    -webkit-transform: rotate(405deg) translateY(0.1em ) translateX(0.25em);
    -ms-transform: rotate(405deg) translateY(0.1em ) translateX(0.25em);
    transform: rotate(405deg) translateY(0.1em ) translateX(0.25em);
    left: -2px;
   }
   
   #toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
    -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
    transform: rotate(-45deg) translateY(0em) translateX(0.1em);
   }
   
   #toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
    transform: scaleX(0);
    transform-origin: left;
   }
   
   .dropdown {
    position: relative;
    display: inline-block;
   }
   
   .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-top: 36px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   }

   .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   }
   
   .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    text-align: center;
  }

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    text-align: center;
  }
   
   .b-menu li:hover {background-color: #ddd;}

   .menu-deroule{
    margin: 4px 16px;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
   }

   .show {display: flex;}


   .b-menu{
    margin: 7px 0 0 2% ;
    display: flex;
    flex-direction: column;
   }

   .b-menu2{
    margin: 7px 0 0 2% ;
    display: inline;
    float:left;
   }

   .b-menu li{
    width: 130%;

   }

