
header{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    color: black;
    font-size: 52px;
    padding: 10px;

}


a{
    text-decoration: none;
    color: black;
}

.aide{
    width: 4vh;
    height: 2%;
    
}

body{
    background: url(../img/background_left.png) no-repeat left, url(../img/background_droite.png) no-repeat right bottom; 
}



.ou {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5%;
    font-weight: bold;
  }
  
  .ou:after,
  .ou:before{
      content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      text-decoration:line-through;
  }

footer{
    display: none;
}