
header{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    color: black;
    font-size: 52px;
    padding: 10px;

}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 2%;
    height: 2%;
    margin: 30px;
}

body{
    background: url(../img/background-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.aide{
    margin: 0;
}