details {
  border: 1px solid #000;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  margin: 10px 0;
}

details a {
    color: #000;
    text-decoration: none;
    transition : 0.1s ease-in-out;
    padding : 1% 2%;
}

details a:hover {
    color: #000;
    border : 1px solid #000;
    text-decoration : none;
}

summary {
  font-weight: bold;
  cursor: pointer;
  text-align:center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '▶';
  float: right;
  margin-right: 10px;
}

details[open] summary::after {
  content: '▼';
}

article {
  margin: 10px 0;
  border-top : 1px solid #000;
}

article ul {
  list-style-type: none;
  padding: 0;
  align-items: center;
}

article ul li {
  margin: 5px 0;
  text-align: center;
}
