header {
    background-image: url(../img/baniere.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.logo {
    width: 12vw;
    margin: 2em
}

.user {
    width: 5vw;
    float: right;
    margin: 0.5rem;
}

.menu {
    width: 3vw;
    float: left;
    margin: 0.5rem;
}

nav {
    background-color: white;
    padding: 0.5em;
}

nav > a {
    color: rgb(212, 8, 11);
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

.gest-comp {
    float: right;
    margin-right: 1em;
}

.information {
    float: left;
    margin-left: 1em;
}

.right {
    background-color: white;
    border: solid lightgray 0.8em;
    padding: 0.2em
}

table {
    border-collapse: collapse;
    border: none;
    width: 100%
}

td {
    border: none;
    padding: 0;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
}

.left {
    width: 9em;
}

.pen {
    width: 1em;
}

button {
    border: none;
    background-color: transparent;
}

main {
    background-color: lightgray;
    padding: 1em;
    padding-left: 5em;
}


td:nth-child(2) {
    width: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.image-td {
    width: 20vw;
}

.image-back {
    width: 20vw;
}