header {
    background-image: url(../img/baniere.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.top_header {
    display : inline-flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 12vw;
    margin: 1rem;
}

.user {
    width: 5vw;
    float: right;
    margin: 1rem 1rem 1rem 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main {
    margin: 3%;

}

.insta {
    width: 2%;
    min-width: 30px;
}

.youtube {
    width: 2%;
    min-width: 30px;
}

.twitter {
    width: 2%;
    min-width: 30px;
}

.facebook {
    width: 2%;
    min-width: 30px;
}

footer > p {
    color: white;
    font-weight: bold;
    margin-bottom: 1vh;

}

.paragfin {
    font-size: 0.8em;
    padding-top: 2vh;
    margin-bottom: 0;
}

.intro p {
    padding-bottom: 1em;
}

.tableau {
    overflow-x: auto;
}

.pas {
    display :none;
}

footer a {
    text-decoration: none;
    color: white;
    margin-left:2em;
}


@media screen and (max-width : 427px) {
    .intro h1 {
        text-align: center;
    }
    .user{
        width: 10vw;
    }
}



@media screen and (max-width : 1020px) {
    .resize{
        width: 67vw;
    }
}
footer{
    display: flex;
    background-color: black;
    color :white;
    padding : 3%;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gauche {
    flex-basis : 50%;
}

.list-footer {
    display: flex;
    flex-direction : column;
    align-items:center;
    justify-content: center;
    flex-grow : 1;

}

.ligne {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    text-align: center;
    width: 50%;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
.list-footer a{
     text-decoration: none;
     color : white;
}


.univ, .iut{
    width: 10%;
    margin-top: 1.5em;
}

.univ{
    margin-left: 2em;
}

.logo-escrime-blanc{
    width: 10%;
}

.num{
    margin-top:1em;
}


