header {
    background-image: url(../img/baniere.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.top_header {
    display : inline-flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 12vw;
    margin: 1rem;
}

.user {
    width: 5vw;
    float: right;
    margin: 1rem;
    margin-left: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main {
    margin: 3%;

}

footer {
    background-color: black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.insta {
    width: 2%;
}

.youtube {
    width: 2%;
}

.twitter {
    width: 2%;;
}

.facebook {
    width: 2%;
}

footer > p {
    color: white;
    font-weight: bold;
}

.paragfin {
    font-size: 0.8em;
    padding-top: 1em;
    margin-bottom: 0;
}


.intro p {
    padding-bottom: 1em;
}


.tableau {
    overflow-x: auto;
}

.accueil {
    font-size: large;
}

p {
    font-size: small;
}

.pas {
    display :none;
}