header {
    background-image: url(../img/baniere.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.logo {
    width: 12vw;
    margin: 2em;
    margin-right: 0;
}

.user {
    width: 5vw;
    float: right;
    margin: 1rem;
    margin-left: 0;
}

.navigateur {
    background-color: black;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
}

.navigateur a {
    text-decoration: none;
    color: rgb(212, 8, 11);
    font-size: 2vw;
    font-weight: bold;
}

.navigateur a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.compet {
    flex-grow: 1;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 0vh;
}

main {
    margin: 3%;

}

footer {
    background-color: black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.insta {
    width: 2%;
}

.youtube {
    width: 2%;
}

.twitter {
    width: 2%;;
}

.facebook {
    width: 2%;
}

footer > p {
    color: white;
    font-weight: bold;
}

.paragfin {
    font-size: 0.8em;
    padding-top: 1em;
    margin-bottom: 0;
}


.intro p {
    padding-bottom: 1em;
}


.tableau {
    overflow-x: auto;
}

.accueil {
    font-size: 4vw;
}

p {
    font-size: 2vw;
}