.rectangle-rouge {
    background-color: #FF0000;
    border-radius : 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
}

.equipes {
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items : first baseline;
}

.equipe {
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background: black;
    border-radius : 10px;
    color: white;
    text-align: center;
}

#formContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background: black;
    border-radius : 10px;
    color: white;
}

#compo {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background: black;
    border-radius : 10px;
    color: white;
}

#compo div:nth-child(odd) {
    display: flex;
    margin: 10px;
    padding: 10px;
    background: black;
    border-radius : 10px;
    color: white;
    text-align: center;
    justify-content:center;
    align-items:center;
}



