
.navigateur {
    background-color: black;
    text-align: center;
    width: 100vw;
    margin: 0 auto; /* Add this line to center the .navigateur */
}

.navigateur ul {
    margin : 0;
    padding: 0;
    display: flex;
    flex-wrap : wrap;
    justify-content :center;
}

.navigateur li {
    list-style-type: none;
    margin: 0.5em;
    padding: 0.5em;
    text-align : center;
    flex-grow: 1;
    flex-basis: 17%;
}

.navigateur a {
    text-decoration: none;
    color: rgb(212, 8, 11);
    font-size: large;
    font-weight: bold;
    text-align : center;
}

.navigateur a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}