.cercle{
    background: #bfd70e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    

}

section{

    background-color: black;

}

h1{
    color: white;
}

.rec-central-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.enflex{
    display: flex;
    justify-content: center;
}

.colonne{
    flex-direction: column;
}

.info-match{

    display: flex;
    justify-content: space-between;

}

span{

    display: block;
    text-align: center;

}

.escrimeur{
    margin: 0 5%;
}

.resultat{
    
}

.circle{
    margin:10px;
    width:100px;
    background:#FF0000;
    height:100px;
    text-align:center;
    border-radius:100px;
    <strong>line-height: 90px; /* 100 - 10 */</strong>
}