
.infoconnecte{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.b_connecter{

    background-color: black;

}

.b_inscrire:hover {
    color: red;
    background-color: #1A1A1A;
}

.b_connecter:hover {
    color: black;
    background-color: #fff;
}
.b_inscrire{

    background-color: #d2080a;

}


.carre-central{
    margin: 10px;
}




.ou {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5%;
    font-weight: bold;
  }
  
  .ou:after,
  .ou:before{
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
  }


@media screen and (max-width: 450px) {
    .rec-central{
        width: 42vh;
    }
    .petit-titre{
        text-align: center;
    }
    body{
        background-image: url(../img/background_left.png);
        background-size: 70vh;
    }
}

@media screen and (max-height : 400px) {
    .ou:after,
    .ou:before{
      content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      text-decoration: line-through;
    }
    .ou>span{
        margin: 0 2%;
    }
    
}