.cercle{
    background: #bfd70e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;

}

section{

    background-color: black;

}

h1{
    color: white;
}

.rec-central-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.enflex{
    display: flex;
    justify-content: center;
}

.colonne{
    flex-direction: column;
}

.info-match{

    display: flex;
    justify-content: space-between;

}

span{

    display: block;
    text-align: center;

}

.escrimeur{
    margin: 0 5%;
}

.resultat{
    
}

.circle{
    margin:10px;
    width:64px;
    background:#2E2E2E;
    height:64px;
    text-align:center;
    border-radius:100px;
    line-height: 54px; /* 100 - 10 */
    font-weight: bold;
    color: white;
}

.les-escimeur{



}

.ligne{
    width: 50%;
    color: #000;
    margin: 10px 6px;
    text-align: center;
    height: 8px;
    background-color: black;

}

#le-rouge{
    background-color: red;
}

.le-marg{
    margin: 2px;
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.circle-button[disabled]:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.rotate {
    transform: rotate(45deg);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.button-{
    background-image: url(../img/atest.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    background-color: transparent;
    width: 28%;
    height: 100%;
}

