.big-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grey-bg{
    flex-basis: 100%;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grey-bg > p{
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
}

main{
    margin-top: 3%;
    margin-right: 0%;
    margin-bottom: 3%;
    margin-left: 0%;
}

.dow{
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.pdf{
    width: 450px;
    height: auto;
}

.description{
    margin-top: 1.5em;
    margin-left: 1.5em;
    font-weight: bold;
    font-size: 20px;
}


a{
    color: black;
}

.center{
    display: flex;
    flex-wrap: nowrap;
}

.div-dow{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 10px;
    flex-basis: 100%;
}

.middle{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
    overflow-x: auto;
    background-color: #EDEDED;
}

.dow-a{
    color: black;
    padding-top: 10px;
    display: block;
}

.split{
    margin-right: 10px;
}

.hero {position:relative; text-align: center; overflow: hidden; color: #fcfcfc; }
.hero h1 {font-family: 'Holtwood One SC', serif;font-weight: normal;font-size: 5.4em;margin:0 0 20px; text-shadow:0 0 12px rgba(0, 0, 0, 0.5);text-transform: uppercase;letter-spacing:-1px;}
.hero p {font-family: 'Abel', sans-serif;text-transform: uppercase; color: #5CCA87; letter-spacing: 6px;text-shadow:0 0 12px rgba(0, 0, 0, 0.5);font-size: 1.2em;}
.hero-wrap {padding: 3.5em 10px;}
.hero p.intro {font-family: 'Holtwood One SC', serif;text-transform: uppercase;letter-spacing: 1px;font-size: 3em;margin-bottom:-40px;}
.hero p.year {color: #fff; letter-spacing: 20px; font-size: 34px; margin: -25px 0 25px;}
.hero p.year i {font-size: 14px;vertical-align: middle;}
#bracket {overflow:hidden;padding-top: 20px;font-size: 20px;padding: 40px 0;}
.container {max-width: 1100px;margin: 0 auto;display:block;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: -webkit-flex;display: flex;-webkit-flex-direction:row;flex-direction: row;}
.split {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;width:200px;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;}
.champion {float:left;display:block;width: 16%;-webkit-flex-direction:row;flex-direction:row;-webkit-align-self:center;align-self:center;margin-top: -15px;text-align: center;padding: 230px 0\9;} 
.champion i {color: #a0a6a8; font-size: 45px;padding: 10px 0; }
.round {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;width:95%;width:30.8333%\9;}

.matchup {width: 100%;padding: 10px 0;-webkit-transition: all 0.2s;transition: all 0.2s;}
.score {font-size: 19px;text-transform: uppercase;float: right;color: #2C7399;font-weight: bold;font-family: 'Roboto Condensed', sans-serif;position: absolute;right: 5px;}
.team {padding: 0 5px;margin: 3px 0;height: 35px; line-height: 35px;white-space: nowrap; overflow: hidden;position: relative;}
.round-2 .matchup {margin:0;padding: 72px 0;}
.round-3 .matchup {margin:0; padding: 182px 0;}
.round-4 .matchup {margin:0; padding: 392px 0;}
.round-5 .matchup {margin:0; padding: 802px 0;}
.round-6 .matchup {margin:0; padding: 1622px 0;}
.round-7 .matchup {margin:0; padding: 3242px 0;}
.round-details {font-family: 'Roboto Condensed', sans-serif; font-size: 13px; color: #2C7399;text-transform: uppercase;text-align: center;height: 40px;}
.champion li, .round li {background-color: #fff;box-shadow: none; opacity: 0.45;}
.current li {opacity: 1;}
.current li.team {background-color: #fff;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);opacity: 1;}

.bouton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 1%;
}

.btn-primary {
    background-color: #d2080a;
    border-color: #000000;
    border-radius: 1em;
}

.btn-primary:hover {
    background-color: #000000;
}

