.big-div{
    display: flex;
    flex-wrap: wrap;
}

.grey-bg{
    flex-basis: 100%;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grey-bg > p{
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
}

main{
    margin-top: 3%;
    margin-right: 0%;
    margin-bottom: 3%;
    margin-left: 0%;
}

.dow{
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.pdf{
    width: 450px;
    height: auto;
}

a{
    color: black;
}

.center{
    display: flex;
    flex-wrap: nowrap;
}

.div-dow{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 10px;
}

.middle{
    display: flex;
    flex-wrap: nowrap;
}

.dow-a{
    color: black;
    padding-top: 10px;
    display: block;
}