.big-div{
  display: flex;
  flex-wrap: wrap;
}

.grey-bg{
  flex-basis: 100%;
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey-bg > p{
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
}

main{
  margin-top: 3%;
  margin-right: 0%;
  margin-bottom: 3%;
  margin-left: 0%;
}
img.pdf{
    display: block;
    width: 413px;
    height: auto;
}

.description{
    margin-top: 1.5em;
    margin-left: 1.5em;
    font-weight: bold;
    font-size: 20px;
}

.big-div > div{
  flex-basis: 100%;
}

.dow{
  height: 30px;
  width: 30px;
}

.pdf{
  width: 450px;
  height: auto;
}

a{
  text-decoration: none;
  color: black;
}

.div-dow{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top : 10px;
}

.middle{
  display: flex;
  flex-wrap: nowrap;
}

.matchs{
  margin-left: 60px;
}

.scroll-match {
  width: 300px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  overflow: auto; /* Permet le défilement si le contenu dépasse les dimensions définies */
}

.scroll-match p {
  padding: 5px;
  border: 1px solid black;
}

.bg-blcak{
  background-color: black;
  color: white;
}

.bg-grey{
  background-color: #EDEDED;
}