


#logo {
    width: 61%;
    height: 10%;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 142%;
        height: 100%;
        margin-top: 6%;
    }


    .btn{
        align-self: center;
        color: black;
        font-weight: 600;
        background-color: white;
        margin-top: 1%;
    }
    /* <form class="form" action="{{ url_for('authentification') }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Adresse email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse email" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre mot de passe" name="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>


    </form>


    */

    /*.form-control{
        background-color: #d2080a;
        border-radius: 2.9375em;
        box-sizing: border-box;
        font-weight: 900;
        line-height: normal;
        height: 8vh;
        text-align: center;
        width: 39vh;
    }*/




    .form-group{
        width: 71%;
    }

    button{

        background-color: red;
        /* border-radius: 0.9375em; */
        /* box-sizing: border-box; */
        width: 100%;
        font-weight: 600;
        /* border-block: none; */
        border: none;
        font-size: larger;
    }


    #black{
        background-color: black;
    }

    input{
        color: white;
    }

    .contexte {
        display:inline;
    }

    .form-group label {
        margin-left : 4%;
    }

    .form-group input {
        margin-left:4%;
    }

    .form-group button {
        margin-left : 2%;
    }

    .Alerte{
        color :red;
    }


    
    