{% extends 'Admin/base_admin.html' %}
{% block content %}
{% for competition in competitions %}
<details>
    <summary><a href="{{ url_for('competition',id_competition= competition.get_id()) }}"> {{ competition.get_nom() }}</a></summary>
    <article>
        <ul>
            <li>Nombre d'équipes : {{ nb_equipe[loop.index-1] }}</li>
            <li>Nombre de participants : {{ nb_equipe[loop.index-1]*4}}</li>
            <li><button onclick="window.location.href = '{{ url_for('modif_equipe',id_competition= competition.get_id())}}'">Modifier les équipes</button></li>
        </ul>
    </article>
</details>
{% endfor %}
{% endblock %}
