{% extends "Admin/base_admin.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modif_equipe.css')}}">
<script src="{{ url_for('static', filename='js/ajouter_equipe.js') }}"></script>
<script src="{{ url_for('static', filename='js/select_unique.js') }}"></script>
{% endblock %}
{% block content %}
<div class="rectangle-rouge">
    <h1>Page de gestion des équipes</h1>
    <div class="equipes">
        {% for equipe in equipes %}
            {% set membres_ids_local = membres_ids[loop.index-1] %}
            <div class="equipe">
                <form action="{{ url_for('modif_equipe',id_competition= id_comp) }}" method="post">
                    <input type="hidden" name="id" value="{{ equipe.get_id() }}">
                    <input type="text" name="nom" value="{{ equipe.get_nom() }}">
                    <input type="submit" value="Modifier le nom">

                </form>
                <details>
                    <summary>Composition</summary>
                        <form id="compo" action="{{ url_for('modif_compo',id_equipe=equipe.get_id()) }}" method="post">
                            <input type="hidden" name="id" value="{{ equipe.get_id() }}">
                            <div class="membres">
                                {% for i in range(4) %}
                                    <h2>Escrimeur {{ i+1 }}</h2>
                                    <select name="escrimeur{{ i+1 }}" required>
                                        <option value="-1">Aucun</option>
                                        {% for escrimeur in escrimeurs %}
                                            <option value="{{ escrimeur.get_id() }}" {% if escrimeur.get_id() == membres_ids_local[i] %} selected {% endif %}>{{ escrimeur.get_nom() }} {{ escrimeur.get_prenom() }}</option>
                                        {% endfor %}
                                    </select>
                                {% endfor %}
                            </div>

                            <div>
                                <input type="submit" value="Modifier la composition">
                            </div>
                        </form>
                </details>


                <form action="{{ url_for('supprimer_equipe', id_equipe=equipe.get_id()) }}" method="post">
                    <input type="hidden" name="id" value="{{ equipe.get_id() }}">
                    <input type="submit" value="Supprimer">
                </form>
            </div>
        {% endfor %}
    </div>
    <button onclick="createAddTeamForm()">Ajout Equipe</button>
    <div id="formContainer">
        <form method="post" action="{{ url_for('modif_equipe',id_competition = id_comp) }}">
            <input type="hidden" name="id" value="-1">
            <label>
                <input type="text" name="nom" placeholder="Nom de la nouvelle équipe">
            </label>
            <input type="submit" value="Ajouter une équipe">
        </form>

    </div>
</div>
{% endblock %}
