{% extends "Admin/base_admin.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modif_equipe.css')}}">
{% endblock %}
{% block content %}
<div class="rectangle-rouge">
    <h1>Page de gestion des équipes</h1>
    <div class="equipes">
        {% for equipe in equipes %}
            <div class="equipe">
                <form action="{{ url_for('modif_equipe',id_competition= equipe.get_id_comp()) }}" method="post">
                    <input type="hidden" name="id" value="{{ equipe.get_id() }}">
                    <input type="text" name="nom" value="{{ equipe.get_nom_equipe() }}">
                    <input type="submit" value="Modifier le nom">
                    <div class="membres">
                        {% for escrimeur in membres[loop.index-1] %}
                            <details>
                                <summary>{{ escrimeur.get_nom() }}</summary>
                                <article>
                                    <ul>
                                        <li></li>
                                    </ul>
                                </article>
                            </details>
                        {% endfor %}
                    </div>
                </form>
                <form action="{{ url_for('supprimer_equipe', id_equipe=equipe.get_id()) }}" method="post">
                    <input type="hidden" name="id" value="{{ equipe.get_id() }}">
                    <input type="submit" value="Supprimer">
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
