{% extends "Admin/base_admin.html" %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/formV2.css')}}">
{% endblock %}



{% block content %}
<h1>{{ title }}</h1>
<form class="admin-form" role="form" method="POST" action="{{ url_for('update_lieu', id_lieu=lieu.get_id(), type=1) }}">
    
    {{ form.hidden_tag() }}
    <div class="form-group">
        <div class="flex-basis-100">
            {{ form.adresse.label(class="form-label") }} {{ form.adresse(class="form-input", size=50) }}
        </div>
        <div class="flex-basis-100">
            {{ form.description.label(class="form-label") }} {{ form.description(class="form-input", size=50) }}
        </div>

    </div>
    {% if form.adresse.errors %}
    <ul class="list-group">
        {% for e in form.adresse.errors %}
        <li>{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('admin_lieu') }}" class="button-link">
        <input type="button" class="button-cancel" value="Annuler">
    </a>

    <input type="submit" class="button-submit" value="Enregistrer">
</form>
{% endblock %}
 