{% extends "base_home.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableau.css') }}">
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>Tableau de bord arbitrage</h2>

<div class="tableau">
    <table>
    <tr>
        <th>NOM COMPETITION</th>
        <th>LIEU</th>
        <th>STATUT</th>
        <th>Actions</th>
    </tr>
    {% for competition in competitions %}
        {% if competition.get_etat() != "Terminée" %}
        <tr>
            <td> <a href="{{ url_for('competition',id_competition= competition.get_id()) }}"> {{ competition.get_nom() }}</a></td>
                {% set lieu = competition.get_lieu() %}
                {% set lien = "https://www.google.fr/maps/place/" + lieu.get_adresse() + "/" %}

                <td> <a href="{{ lien }}">{{ lieu.get_adresse() }}</a> </td>
            <td>{{ competition.get_etat() }}</td>

            <td>
                <a href="{{ url_for('participants', id_competition=competition.get_id()) }}" class="btn">Arbitrer</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endblock %}

