{% extends "base_home.html" %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block styles %}
    {{ super() }}

{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}

{% macro competition_nav(compet_id) %}
    <a class="btn" href="{{ url_for('competition', id_competition=compet_id) }}">INFORMATIONS</a>
    <a class="btn" href="{{ url_for('poule',id_competition=compet_id,nb = 0) }}"> POULES </a>
    <a class="btn" href="{{ url_for('home') }}" >PHASE FINAL</a>
    <a class="btn" href="{{ url_for('participants',id_competition= compet_id) }}"> PARTICIPANTS </a>
    <a class="btn" href="{{ url_for('home') }}" >CLASSEMENT</a>
{% endmacro %}
