{% extends "arbitre/base_arbitre.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/podium.css') }}">
{% endblock %}

{% block nav %}
{{  competition_nav(competition.get_id()) }}
{% endblock %}

{% block content %}
<div class="podium">
    <div class="podium__header">
        <h1>Podium</h1>
    </div>
    <div class="podium__content">
        {% for escrimeur in escrimeurs %}

            {% set classe = "podium__content__escrimeur__"+  loop.index|string %}
        <div class="{{ classe }}">
            <div class="podium__content_escrimeur_place">

                {% set lien = "../../static/img/medaille-" + loop.index|string + ".png" %}
                <img src="{{lien}}" alt="médaille première place">

            </div>
            <div class="podium__content__escrimeur__info">
                <div class="podium__content__escrimeur__info__name">
                    <h3>{{ escrimeur.get_nom() }} {{ escrimeur.get_prenom()}}</h3>
                </div>
                <div class="podium__content__escrimeur__info__club">
                    <h4>{{ escrimeur.get_club() }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="podium__footer">
        <a href="{{ url_for('home') }}">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
