{% extends "arbitre/base_arbitre.html" %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/participants.css') }}">
{% endblock %}
{% block nav %}
    {{  competition_nav(competition.get_id()) }}
{% endblock %}
{% block content %}

    <div class="grey-bg center">
        <p>{{ competition.get_nom() }} du {{ competition.get_date() }}</p>
    </div>


    <div class="container">
        <div class="box">
            <h3>Les escrimeurs</h3>
            {% if inscrits|length <=0 %}
                <p>Aucun escrimeur n'est inscrit à cette compétition</p>
            {% endif %}
            {% for escrimeur in inscrits %}
                <p>{{ escrimeur.get_nom() }} {{ escrimeur.get_prenom() }}</p>
            {% endfor %}

        </div>



        <div class="box">
            <h3>Les arbitres</h3>
            {% if arbitres|length <=0 %}
                <p>Aucun arbitre n'est inscrit à cette compétition</p>
            {% endif %}
            {% for arbitre in arbitres %}
                <p>{{ arbitre.get_nom() }} {{ arbitre.get_prenom() }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="container">
    {% if competition.get_etat() == "À venir" %}
        <form action="{{ url_for('participants',id_competition = competition.get_id()) }}" method="POST" role="form">
            <div class="form-group">
                {{ form.heure(class="form-control",placeholder="Heure de début") }}
            </div>
            <div class="bouton">
                <button class="btn btn-primary" type="submit">Générer les poules</button>
            </div>
    {% endif %}

    {% if competition.get_etat() == "En cours" or competition.get_etat() == "Terminé" %}
        <div class="bouton">
            <button class="btn btn-primary" onclick="window.location.href='{{ url_for('poule',id_competition = competition.get_id(),nb = 0)}}'">Afficher les poules</button>
        </div>
    {% endif %}

    {% if competition.get_etat() == "Inscription ouverte" %}
        <div class="bouton">
           <p>Les inscriptions sont ouvertes, il est impossible de faire les poules pour le moment</p>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

