{% extends "arbitre/base_arbitre.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/podium.css') }}">
{% endblock %}

{% block nav %}
{{  competition_nav(competition.get_id()) }}
{% endblock %}

{% block content %}
{% if have_phase_f == True and fini == False %}
    <div class="podium">
        <div class="podium__header">
            <h1>Podium</h1>
        </div>
        <div class="podium__content__erreur">
            <h2>La compétition n'est pas terminée</h2>
        </div>
    </div>
{% else %}
{% if escrimeurs == None %}
    <div class="podium">
    <div class="podium__header">
        <h1>Podium</h1>
    </div>
    <div class="podium__content__erreur">
        <h2>Aucun podium n'a été défini pour cette compétition</h2>
    </div>
</div>
{% else %}
<div class="podium">
    <div class="podium__header">
        <h1>Podium</h1>
    </div>
    <div class="podium__content">
        {% for escrimeur in escrimeurs %}
            {% if loop.index < 4 %}
            {% set classe = "podium__content__escrimeur__"+  loop.index|string %}
            <div class="{{ classe }}">
            <div class="podium__content_escrimeur_place">

                {% set lien = "../../../static/img/medaille-" + loop.index|string + ".png" %}
                <img src="{{lien}}" alt="médaille première place">

            </div>
            <div class="podium__content__escrimeur__info">
                <div class="podium__content__escrimeur__info__name">
                    {% if not competition.get_is_equipe() %}
                        <h3>{{ escrimeur.get_nom() }} {{ escrimeur.get_prenom()}}</h3>
                    {% else %}
                        <h3>{{ escrimeur.get_nom() }}</h3>
                    {% endif %}
                </div>
                <div class="podium__content__escrimeur__info__club">
                    {% if not competition.get_is_equipe() %}
                        {% if escrimeur.get_club() != None %}
                            <h4>{{ escrimeur.get_club().get_nom() }}</h4>
                        {% endif %}
                    {% else %}
                        {% for es in escrimeur.get_les_escrimeurs() %}
                            <h4>{{ es.get_nom() }} {{ es.get_prenom() }}</h4>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


{% endif %}
{% endif %}
<div class="podium__footer">
    <a href="{{ url_for('home') }}">Retour à l'accueil</a>
</div>

    {% endblock %}
